<div *ngIf="!pais; else divPais" class="alert alert-info">
  Espere por favor...
</div>
<!-- Referencia local -->
<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>
        Pais: <small> {{ pais.name.common }} </small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais.flags.png" alt="pais.flags.alt" class="img-thumbnail" />
    </div>

    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población</strong> {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Capital</strong> {{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong>Region</strong> {{ pais.region }}
        </li>
      </ul>
    </div>
    <h3>Traducciones</h3>
    <div class="row">
      <div class="col">
        <span class="badge bg-primary mr-1">
          {{ pais.translations["ara"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ pais.translations["bre"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ pais.translations["deu"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ pais.translations["fra"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ pais.translations["jpn"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ pais.translations["kor"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ pais.translations["rus"].official }}
        </span>
        <span class="badge bg-primary mr-1">
          {{ pais.translations["zho"].official }}
        </span>
      </div>
      <!-- <pre class="mt-5">
    {{ pais | json }}
  </pre
      > -->
    </div>
  </div>
</ng-template>
